*.tar.gz
.document.Rout
*.Rcheck
*.so
*.o
*__pycache__*
*.vim
.Rproj.user
.DS_Store
docs/*
python/build/*
python/*.egg-info/*
python/dist/*
docs
.install_dev_deps.Rout
vignettes/articles/operational-definition-phoenix-sepsis-criteria.aux
vignettes/articles/operational-definition-phoenix-sepsis-criteria.bbl
vignettes/articles/operational-definition-phoenix-sepsis-criteria.blg
vignettes/articles/operational-definition-phoenix-sepsis-criteria.fdb_latexmk
vignettes/articles/operational-definition-phoenix-sepsis-criteria.fls
vignettes/articles/operational-definition-phoenix-sepsis-criteria.log
vignettes/articles/operational-definition-phoenix-sepsis-criteria.lot
vignettes/articles/operational-definition-phoenix-sepsis-criteria.out
vignettes/articles/operational-definition-phoenix-sepsis-criteria.toc
